body {
  text-align: center;
  font-family: 'Recursive', serif;
  font-size: 1.5em;
  background-color: rgb(99, 116, 70);
}

#image {
  display: block;
  margin: auto;
  max-width: 100%;
}

p {
  display: block;
}

#tribute-info {
  text-align: start;
}